{
  "POSTGRES_DB": "valgor",
  "POSTGRES_USER": "valgor",
  "POSTGRES_PASSWORD": "valgor",
  "REDIS_URL": "localhost:6383",
  "CONNECTION_STRINGS__POSTGRES": "Host=localhost;Port=5437;Database=valgor;Username=valgor;Password=valgor",
  "CONNECTION_STRINGS__REDIS": "localhost:6383"
}
