{
  "POSTGRES_DB": "valgor",
  "POSTGRES_USER": "valgor",
  "POSTGRES_PASSWORD": "valgor",
  "CONNECTION_STRINGS__POSTGRES": "Host=localhost;Port=5437;Database=valgor;Username=valgor;Password=valgor",
  "CONNECTION_STRINGS__REDIS": "localhost:6383",
  "JWT__SIGNINGKEY": "ValgorStudios_Dev_SigningKey_ChangeInProd_01",
  "VITE_API_URL": "http://localhost:5100"
}
